* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 240px;
}

#progress {
    width: 350px;
    height: 25px;
    border: solid 1px black;
    background-color: grey;
}

#progressing {
    width: 350px;
    height: 25px;
    background-color: red;
}