* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 240px;
}

#progress {
  width: 350px;
  height: 25px;
  border: solid 1px black;
  background-color: grey;
  position: absolute;
}

#progressing {
  display: inline-block;
  width: 0px;
  height: 23px;
  background-color: red;
  position: relative;
}
